<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Search Twitter</title>
    <link rel="stylesheet" href="/css/searchTwitter.css" media="screen" title="no title">
  </head>
  <body>
    <div class="listContainer">
      <% tweets.forEach( (obj) => { %>
        <div class="tweetContainer">
            <div class="profileImg" style='background-image: url(<%= obj.user.profileImg %>);'></div>
            <div class="tweetText"><span class='userName'><%= obj.user.screenName %>: </span><%= obj.text %></div>
            <form class="analyzeTweet" target="aPane" action="analyzeTweet" method="post">
              <input class="formInfo <%= obj.tweetId %>"type="hidden" name="submitedTweet[text]" value="<%= obj.text %>">
              <input class="formInfo <%= obj.tweetId %>" type="hidden" name="submitedTweet[tweetId]" value="<%= obj.tweetId %>">
              <input class="formInfo <%= obj.tweetId %>" type="hidden" name="submitedTweet[urls]" value="<%= obj.urls %>">
              <input class="formInfo <%= obj.tweetId %>" type="hidden" name="submitedTweet[hashtags]" value="<%= obj.hashtags %>">
              <input class="formInfo <%= obj.tweetId %>" type="hidden" name="submitedTweet[mentions]" value="<%= obj.mentions %>">
              <input class="formInfo <%= obj.tweetId %>" type="hidden" name="submitedTweet[screenName]" value="<%= obj.user.screenName %>">
              <input class="formInfo <%= obj.tweetId %>" type="hidden" name="submitedTweet[twitterId]" value="<%= obj.user.twitterId %>">
              <input class="formInfo <%= obj.tweetId %>" type="hidden" name="submitedTweet[location]" value="<%= obj.user.location %>">
              <input class="formInfo <%= obj.tweetId %>" type="hidden" name="submitedTweet[description]" value="<%= obj.user.description %>">
              <input class="formInfo <%= obj.tweetId %>" type="hidden" name="submitedTweet[profileImg]" value="<%= obj.user.profileImg %>">
              <input type="submit" class="button b<%= obj.tweetId %>" name="myBtn" value="Analyze!">
            </form>
        </div>
    <%  }) %>
  </div>
  <iframe class="analysisFrame" name="aPane" style="border: none;"></iframe>
  </body>
</html>
